:root {
    --orange: #f7931a;
    --warm-orange: #cf9959;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --gray: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
    --dark-purple: #2e0219;
    --tyrian-purple: #4a001f;
    --tyrian-purple-soft: #6a0f49;
    --ash-gray: #a7c4c2;
    --ice-blue: #97efe9;
}