.mock-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background-color: var(--ash-gray);
}

.mock-page h1 {
    margin: 0 20px;
}

@media screen and (min-width: 930px) {

    .mock-page {
        height: 100vh;
    }

}